xterm*background: black
xterm*foreground: white

! Fonts
xterm*faceName: DejaVu Sans Mono Book 
xterm*faceSize: 12

! Saved lines in history
xterm*savelines: 1000

xterm*VT100.Translations: #override \
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
